/*global*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background-color: #675454;
    color: white;
}

p {
    line-height: 1.5;
}

a {
    color: black;
    text-decoration: none;
}

h2 {
    text-align: center;
}


/*table*/


/*table {
    width: 500px;
    border: 1px solid white;
    border-collapse: collapse;
    margin-right: 20px;
    text-align: center;
}

td,
th {
    border: 1px solid white;
    padding: 10px;
}*/


/* Tabla */

.tabla-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Estilo de la tabla */

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
}


/* Centrar el título */

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 2rem;
    width: 100%;
}


/* Estilo de las celdas */

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #0b0808;
    font-size: 1rem;
}


/* Estilo del encabezado */

th {
    background-color: #83acde;
    color: white;
    font-weight: bold;
}


/* Fila alterna con fondo gris claro */

tbody tr:nth-child(even) {
    background-color: #b9c6ca;
    color: #000;
}


/* Efecto hover para filas */

tbody tr:hover {
    background-color: #e1f7d5;
    color: #000;
    /* Fondo verde suave en hover */
}


/*utilities*/

.active {
    color: rgb(51, 179, 141);
    font-weight: bold;
}

.text-primario {
    color: #807a7a;
}

.text--secondary {
    color: rgb(51, 179, 141);
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/*nav*/

.menu-nav {
    height: 60px;
    background-color: white;
    padding-left: 20px;
}

.menu-nav a {
    margin-right: 30px;
}

.menu-nav a:hover {
    color: rgb(51, 179, 141);
}


/*header*/

.my-info {
    padding-top: 30px;
    text-align: center;
}

.my-info img {
    display: block;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.my-info h1 {
    font-weight: 400;
    font-size: 42px;
}

.my-info p {
    font-size: 22px;
}


/*main */

.main-flex {
    display: flex;
    /* Defaul en fila */
    /*flex-direction: row; */
    /* Horizintal */
    justify-content: space-between;
    /* Vertical */
    align-items: center;
    height: 70vh;
}

.header {
    width: 50%;
}

.interests-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 20px;
}

.interests-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.interests-group h3 {
    margin-bottom: 10px;
    font-size: 1.25rem;
    color: #33b38d;
}

.interests-group ul {
    padding-left: 20px;
    justify-content: left;
    margin: 0;
}

.interests-group li {
    font-size: 1rem;
    line-height: 1.5;
    color: #ccc;
}

.interests-group li:hover {
    color: #33b38d;
    cursor: pointer;
}


/* publications*/

.publication-title {
    color: rgb(51, 179, 141);
    font-size: 24px;
}

.publication-authors {
    font-size: 14px;
    color: #989191;
}

.publication-link {
    color: rgb(12, 116, 121);
    border: 1px solid rgb(12, 116, 121);
    border-radius: 3px;
    padding: 3px;
    font-size: 12px;
    margin-right: 5px;
}

.publication-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.publication-authors:hover {
    color: rgb(12, 116, 121);
    text-decoration: underline;
    cursor: pointer;
}

.publication-link:hover {
    background-color: rgb(12, 116, 121);
    color: white;
}